.category{
	border-left: 5px solid #6f6e6e;
	margin-bottom: 22px;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 37px;
	cursor: pointer;
}
.category_triangle{
	border: 6px solid transparent;
	border-top: 6px solid #6f6e6e;
	width: 0;
	margin-top: 8px;
	margin-right: 6px;
	transition: transform 700ms;
}
.category_triangle_expand{
	border: 6px solid transparent;
	border-top: 6px solid #ef5b70;
	transform: rotate(180deg);
	width: 0;
	margin-right: 6px;
}
